:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-image {
  /*display: block;*/
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
