  <p></p>

  <mat-toolbar color="primary">
    <span routerLink="/main" style = "cursor : pointer; margin-left: 20px;">My Notes </span>
    <span class="spacer"></span>

    <button *ngIf="!isLoggedIn" matTooltip = "Login" routerLink = "/login" mat-icon-button class="example-icon favourite-icon">
      <mat-icon>login</mat-icon>
    </button>


<!--<button [hidden]="isLoggedIn"matTooltip = "Login" routerLink = "/login" mat-icon-button class="example-icon favourite-icon">-->
<!--  <mat-icon>login</mat-icon>-->
<!--</button>-->


    <h3 *ngIf="isDataLoaded"   color="accent" >  {{this.user.firstname}}  {{this.user.lastname}}    </h3>
    <span class="spacer"></span>

    <button routerLink="/main" aria-label="to main page" mat-icon-button class="example-icon favourite-icon">
      <mat-icon>home</mat-icon>
    </button>

<!--color="primary"     <span class="material-icons" routerLink="/main">home</span>-->

  <button mat-icon-button *ngIf="isLoggedIn" [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu">
    <mat-icon >more_vert</mat-icon>
<!--    color="accent"-->
  </button>
  <mat-menu id="menu-item"  #menu="matMenu">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>manage_accounts</mat-icon>
      <span>Profile</span>
    </button>
    <button (click)="logout()" mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
    <button mat-menu-item routerLink="/main">
      <mat-icon>home</mat-icon>
      <span>Main</span>
    </button>
  </mat-menu>

  </mat-toolbar>

